

%font-size {
    &--sm {
        font-size: $font-sm;
    }
    &--rg {
        font-size: $font-sm;
        @include media-breakpoint-up(lg) {
            font-size: $font-rg !important;
        }
    }
    &--md {
        font-size: $font-md - 6px;
        @include media-breakpoint-up(lg) {
            font-size: $font-md;
        }
    }
    &--lg {
        font-size: $font-lg - 16px;
        @include media-breakpoint-up(lg) {
            font-size: $font-lg;
        }
    }
    &--xl {
        font-size: $font-xl - 30px;
        @include media-breakpoint-up(lg) {
            font-size: $font-xl;
        }
    }
}


%font-family {
    &--lora {
        font-family: $font-lora;
    }
    &--poppins {
        font-family: $font-poppins;
    }
}

@function overlay($color) {
    @return linear-gradient($color, $color);
}

@function transparent($c, $opacity) {
    @return rgba($color: $c, $alpha: $opacity)
}

@mixin orientation($direction) {

    $orientation-landscape: "(orientation:landscape)";
    $orientation-portrait: "(orientation:portrait)";

    @if $direction == landscape {
      @media #{$orientation-landscape} { @content; }
    }
    @if $direction == portrait {
      @media #{$orientation-portrait} { @content; }
    }
  }
