@import 'variables';
@import 'mixins';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';




.font-family {
    &--lora {
        @extend %font-family--lora;
    }
    &--poppins {
        @extend %font-family--poppins;
    }
}


.font-size {
    &--sm {
        @extend %font-size--sm;
    }
    &--rg {
        @extend %font-size--rg;
    }
    &--md {
        @extend %font-size--md;
    }
    &--lg {
        @extend %font-size--lg;
    }
    &--xl {
        @extend %font-size--xl;
    }
}

.text-color--white {
    color: $white;
}

.button {
    padding: $base-spacing 0;
    width: 160px;
    margin: 0;
    @include media-breakpoint-up(lg) {
        width: 240px;
        margin: 0 $base-spacing * 3;
    }
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
    &--transparent-white {
        border: 2px solid $white;
        background-color: transparent;
        color: $white;
        transition: background-color 0.75s ease-in, border-color 0.75s ease;
        &:hover {
            border-color: $red;
            background-color: $red;
        }
    }

}

@mixin create-dots($color) {
    background-image: radial-gradient(ellipse at center, $color 0%, $color 30%, transparent 30%);
    height: 24px;
    width: 172px;
    margin: 0 auto;
    background-size: 12px 12px;
    background-position: center;
    background-repeat: repeat-x;
}

%overlay {
    &:after {
        content: ' ';
        background-color: $transparent-black;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
