.font-family {
    &--lora {
        @extend %font-family--lora;
    }
    &--poppins {
        @extend %font-family--poppins;
    }
}


.font-size {
    &--sm {
        @extend %font-size--sm;
    }
    &--rg {
        @extend %font-size--rg;
    }
    &--md {
        @extend %font-size--md;
    }
    &--lg {
        @extend %font-size--lg;
    }
    &--xl {
        @extend %font-size--xl;
    }
}

.text-color--white {
    color: $white !important;
}

.button {
    padding: $base-spacing 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.75s ease-in, border-color 0.75s ease, color 0.75s ease;
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
    &--transparent-white {
        border: 2px solid $white;
        background-color: transparent;
        color: $white;
        width: 160px;
        border-radius: 30px;
        @include media-breakpoint-up(lg) {
            width: 240px;
            margin: 0 $base-spacing * 3;
        }
        &:hover {
            color: $white;
            border-color: $red;
            background-color: $red;
        }
    }
    &--transparent-grey {
        border: 2px solid $content-color;
        background-color: transparent;
        color: $content-color;
        width: 100%;
        &:hover {
            border-color: $red;
            color: $red !important;
        }
    }

}

@mixin create-dots($color) {
    background-image: radial-gradient(ellipse at center, $color 0%, $color 30%, transparent 30%);
    height: 24px;
    width: 172px;
    margin: 0 auto;
    background-size: 12px 12px;
    background-position: center;
    background-repeat: repeat-x;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: $content-color;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
