$base-spacing: 12px;

// Fonts
$font-lora: 'Lora', serif;
$font-poppins: 'Poppins', sans-serif;

// Font sizes
$font-sm: 14px;
$font-rg: 22px;
$font-md: 26px;
$font-lg: 42px;
$font-xl: 60px;

// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #B10000;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$transparent-black: rgba($color: #000000, $alpha: 0.5);
$content-color: #5C5C5D;
$subtitle-color: #484E51;
$bg-accent-color: #F9F9F9;
