// Fonts
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'mixins';
@import 'utilities';
@import 'animations';



// Templates
@import 'templates/hero';
@import 'templates/about';
@import 'templates/video';
@import 'templates/menu';
@import 'templates/contact';
@import 'templates/event';

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-poppins;
    @extend %font-size--rg;
}

a {
    color: $content-color;
    &:hover {
        text-decoration: none;
        color: $red;
    }
}

.container-fluid {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    @include media-breakpoint-up(lg) {
        @include orientation(landscape) {
            padding-left: ($base-spacing * 12);
            padding-right: ($base-spacing * 12);
        }
    }
}

#about, #menu, #contact {
    min-height: 100vh;
}

.section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.title-block {
    text-align: center;
    .title {
        font-family: $font-lora;
        @extend %font-size--lg;
        color: $red;
        font-weight: bold;
        line-height: $font-lg - 16px;
        @include media-breakpoint-up(lg) {
            line-height: $font-lg;
        }
        padding: $base-spacing 0;
    }
    .sub-title {
        font-family: $font-lora;
        @extend %font-size--md;
        line-height: $font-md - 6px;
        @include media-breakpoint-up(lg) {
            line-height: $font-md;
        }
        padding-bottom: $base-spacing;
        color: $subtitle-color;
    }
}


.dots-grey {
    @include create-dots($subtitle-color)
}

.dots-white {
    @include create-dots($white)
}

.fade-out-in-enter-active,
.fade-out-in-leave-active {
  transition: opacity .5s;
}

.fade-out-in-enter-active {
  transition-delay: .5s;
}

.fade-out-in-enter,
.fade-out-in-leave-to {
  opacity: 0;
}

