// Fonts
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700&display=swap');

// Variables
@import 'variables';
@import 'utilities';
@import 'animations';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    @extend .font-family--poppins;
    @extend .font-size--rg;
}

a {
    &:hover {
        text-decoration: none;
        color: $white;
    }
}

.container-fluid {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    @include media-breakpoint-up(lg) {
        padding-left: ($base-spacing * 3);
        padding-right: ($base-spacing * 3);
    }
}
#hero {
    background-image: url('img/hero.png');
    background-position: bottom center;
    background-size: cover;
    height: fill-available;

    &:after {
        content: ' ';
        background-color: $transparent-black;
        width: fill-available;
        height: fill-available;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .container-fluid {
        padding-top: ($base-spacing * 2);
        padding-bottom: ($base-spacing * 2);
        @include media-breakpoint-up(lg) {
            padding-top: ($base-spacing * 3);
            padding-bottom: ($base-spacing * 3);
        }
        z-index: 2;
        position: relative;
    }

    #left-nav {
        position: fixed;
        top: $base-spacing * 2;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(md) {
            position: unset;
            top: 0;
            left: 0;
            transform: none;
        }
        .navbar-toggler {
            top: 0;
            left: 10px;
            z-index: 1;
            padding: 0.25rem;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.1);        
            background-color: $white;
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }

        .navbar-nav {
            background-color: white;
            margin-top: $base-spacing;
            padding: 0 ($base-spacing / 2);
            @include media-breakpoint-up(md) {
                background-color: transparent;
                margin-top: 0;
                padding: 0;
            }
        }

        .nav-link {
            color: $content-color;
            @include media-breakpoint-up(md) {
                color: $white;
            }
        }
    }

    #right-nav {
        .nav-link {
            color: $white;
        }
    }
    .navbar {
        .nav-item {
            &:first-of-type {
                .nav-link {
                    padding-left: 0;
                }
            }
            &:last-of-type {
                .nav-link {
                    padding-right: 0;
                }
            }
            .nav-link {
                @extend .font-family--lora;
                @extend .font-size--rg;
                @include media-breakpoint-up(lg) {
                    padding: 0 ($base-spacing * 2);
                }
            }

            .social-icon {
                font-size: 36px;
                ion-icon {
                    vertical-align: top;
                }
            }
        }
    }

    .hero-content {
        @include media-breakpoint-up(lg) {
            max-width: 50vw;
            margin: 0 auto;
        }
    }

    .hero-logo {
        transform: scale(0.7);
        @include media-breakpoint-up(md) {
            transform: scale(0.75);
        }
        @include media-breakpoint-up(lg) {
            transform: scale(1);
        }
    }

    .hero-scroll {
        @extend .font-size--rg;
        @extend .font-family--poppins;
        position: absolute;
        bottom: 0;
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
        .scroll-line {
            width: 2px;
            background-color: $white;
            position: relative;
            bottom: 0;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-name: movingLine;
            transition: height 1.5s ease;
        }
    }
}

#about, #menu, #contact {
    min-height: 100vh;
}

#about {
    .about-img {
        .about-img-left, .about-img-right {
            position: relative;
        }
        .about-img-right {
            top: -200px;
            left: 300px;
        }
    }
}

#video {
    min-height: 50vh;
}

#menu {
    background-color: $bg-accent-color;
}

.section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.title-block {
    text-align: center;
    .title {
        @extend .font-family--lora;
        @extend .font-size--lg;
        color: $red;
        font-weight: bold;
    }
    .sub-title {
        @extend .font-family--lora;
        @extend .font-size--md;
        color: $subtitle-color;
    }
}


.dots-grey {
    @include create-dots($subtitle-color)
}

.dots-white {
    @include create-dots($white)
}