#about {
    min-height: 100vh;
    .about-img {
        .about-img-left, .about-img-right {
            position: relative;
        }
        .about-img-right {
            top: -200px;
            img {
                float: right;
            }
        }
    }
}
