#newsletter {
    background-color: $red;
    color: $white;
    text-align: center;
    
    form {
        input, button {
            border: 2px solid $white;
            background-color: transparent;
            color: $white;
            transition: 0.75s border-color ease-in, 0.75s color ease-in;
            box-shadow: none;
            border-radius: 0;
            &:hover, &:focus {
                border-color: #2C2C2C;
            }
        }

        input {
            padding: $base-spacing * 2 $base-spacing * 3;
            &::placeholder {
                color: $white
            }
        }

        button {
            padding: 0 $base-spacing * 2;
            height: 52px;
            &:hover {
                color: #2C2C2C;
            }
        }
    }
}
