#about {
    min-height: 100vh;
    .about-img {
        .about-img-left, .about-img-right {
            position: relative;
        }
        .about-img-right {
            @screen 2xl {
                top: -200px;
            }
        }
    }
}
