#event {
    .slick-slide {
        @screen md {
            @apply mx-4;
        }
    }
    .slick-list {
        @screen md {
            @apply -mx-4
        }
    }
}

.event-container {
    .event {
        .event-name {
            @apply text-white font-bold font-serif;
        }
        .event-date {
            @apply text-white;
        }
        .event-image {
            position: relative;
            overflow: hidden;
            &:hover {
                .event-info, .event-share-button {
                    background-color: $black;
                }
                img {
                    transform: scale(1.5);
                }
            }
            img {
                width: 100%;
                transform-origin: center center;
                transition: transform 0.75s, visiblity 0.75s ease-in;
            }
            .event-share-button {
                @apply text-white absolute;
                height: 36px;
                width: 36px;
                line-height: 44px;
                background-color: $blackTransparent2;
                cursor: pointer;
                border-radius: 50%;
                top: 8px;
                right: 8px;

                @screen lg {
                    top: 16px;
                    right: 16px
                }
            }
        }

        .event-description {
            text-align: initial;
        }

        .event-date, .event-name, .event-description {
            user-select: text;
        }
        .event-info {
            @apply absolute py-4;
            position: absolute;
            width: calc(100% + 1px);
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            top: 50%;
            background-color: $blackTransparent2;
            transition: 0.75s background-color ease;
        }
    }
    .slick-prev, .slick-next {
        @apply border-accent border-solid border-2;
        height: 64px;
        width: 64px;
        line-height: 64px;
    }
}
